.works{
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: crimson;
  position: relative;

  .arrow{
    height: 50px;
    position: absolute;
    transition: prova 1s ease;
    &.left{
      left: 100px;
      transform: rotateY(180deg);
      cursor: pointer;
    }
    &.right{
      right: 100px;
      cursor: pointer;
    }

    &:hover{
      animation: prova  1s infinite;
    }
    @keyframes prova {
      0%{
        /* height: 50px; */
      }
      50%{
        /* width: 80px; */
      }
      100%{
        opacity: 0.3;
        width: 50px;
      }
    }
  }

  .slider{
    
    height: 500px;
    
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1s ease-out;

    .container{
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
  
      .item{
        
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 10px;
        background-color: white;
        width: 800px;
        height: 100%;
        
        .left{
          
          height: 100%;
          flex: 0.5;
          /* background-color: rgb(172, 160, 160); */
          /* background-color: white; */
          overflow-y: hidden;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
            
            .imgcontainer{
              height: 100%;
              width: 100%;
              display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            

              img{
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;              
              }
            }
            
          


        }
  
        .right{
          /* margin-top: 10px; */
          
          margin-left: 20px;
          height: 100%;
          flex: 0.5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          /* background-color: white; */
          h2{
           
          }
          p{
            
          }
        }
  
      }
    }
  }

}